* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a7d8c5;
    font-family: Karla;
}

.form {
    margin: 5% auto;
    max-width: 1307px;
    border-radius: 50px;
    background-color: #F6FBF9;
}

.form-container {
    display: flex;
    justify-content: space-around;
    padding: 40px 40px;
}

/* left container */
.left-container {
    flex-basis: 575px;
}


h2 {
    font-weight: 700;
    font-size: 55px;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29.91px;
    letter-spacing: 0%;
    text-align: center;
    padding: 20px 80px;
}

/* inputs ==================================== */
.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input:not([type="radio"]) {
    width: 100%;
    padding: 20px;
    border-style: none;
    border-radius: 10px;
    border: 1px solid #0000001A;
}

.user-name,
.user-phone {
    display: flex;
    gap: 20px;
}

.user-phone input:nth-child(1) {
    flex: 1 15%;
}

.user-phone input:nth-child(2) {
    flex: 2 80%;
}

h4 {
    font-weight: 400;
    font-size: 23px;
    line-height: 19.5px;
    letter-spacing: 0%;
}

.account-type {
    display: flex;
    justify-content: space-between;
}

.account-type input {
    position: relative;
    margin-right: 30px;
    width: 40px;
    height: 40px;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.43);
    border-radius: 50%;
}

.account-type input:checked::before {
    background-color: #84C7AE;
    content: "";
    width: 25px;
    /* Внутренний цветной круг */
    height: 25px;
    background-color: #7cbda0;
    /* Зеленый цвет */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.account_item {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 23px;

}


/* button=================================== */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    padding: 20px 60px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #84C7AE;
}


/* bottom text */
h5 {
    font-family: Karla;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}

a {
    color: #32403B;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
}



/* right container */

.bg-img{
    max-width: 558px;
}

.bg-img img {
    width: 100%;
    height: 732px;
    border-radius: 10px;

}